---
- name: Deploy Docker Container from ECR
  hosts: web
  become: true
  gather_facts: true

  vars:
    aws_region: ap-south-1
    ecr_repo: "{{ lookup('env','ACCOUNT_ID') }}.dkr.ecr.ap-south-1.amazonaws.com/java-app-repo"
    image_tag: "latest"
    container_name: "java-app"
    app_port: 8080

  tasks:

  - name: Update apt cache
    apt:
      update_cache: yes

  - name: Install Docker
    apt:
      name: docker.io
      state: present

  - name: Start Docker service
    service:
      name: docker
      state: started
      enabled: yes

  - name: Login to ECR (Docker login)
    shell: |
      aws ecr get-login-password --region {{ aws_region }} \
      | docker login --username AWS --password-stdin {{ ecr_repo }}
    args:
      executable: /bin/bash

  - name: Pull latest Docker image
    community.docker.docker_image:
      name: "{{ ecr_repo }}"
      tag: "{{ image_tag }}"
      source: pull

  - name: Stop old container if exists
    community.docker.docker_container:
      name: "{{ container_name }}"
      state: stopped
    ignore_errors: true

  - name: Remove old container if exists
    community.docker.docker_container:
      name: "{{ container_name }}"
      state: absent
    ignore_errors: true

  - name: Run new container
    community.docker.docker_container:
      name: "{{ container_name }}"
      image: "{{ ecr_repo }}:{{ image_tag }}"
      state: started
      restart_policy: always
      published_ports:
      - "{{ app_port }}:{{ app_port }}"
