---
- name: Deploy Docker Container from ECR
  hosts: web
  become: true

  vars:
    aws_region: ap-south-1
    ecr_repo: "{{ lookup('env','ACCOUNT_ID') }}.dkr.ecr.ap-south-1.amazonaws.com/java-app-repo"
    image_tag: "latest"
    container_name: "java-app"
    app_port: 8080

  tasks:

    - name: Update apt
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Login to ECR
      shell: |
        aws ecr get-login-password --region {{ aws_region }} \
        | docker login --username AWS --password-stdin {{ ecr_repo }}

    - name: Pull latest image
      shell: docker pull {{ ecr_repo }}:{{ image_tag }}

    - name: Stop old container
      shell: docker stop {{ container_name }}
      ignore_errors: true

    - name: Remove old container
      shell: docker rm {{ container_name }}
      ignore_errors: true

    - name: Run new container
      shell: |
        docker run -d \
        --name {{ container_name }} \
        -p {{ app_port }}:{{ app_port }} \
        --restart always \
        {{ ecr_repo }}:{{ image_tag }}
